<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>会員情報を入力してください。</h1>
    <form>
    <table border="1">
        <tr>
            <th><label for="userID"></label>会員ID：</label></th>
            <td><input type="text" id="userID" name="userID"><br></td>
        </tr>
        
        <tr>
            <th><label for="password"></label>パスワード：</label></th>        
            <td><input type="text" id="password" name="password"><br></td>
        </tr>
        
        <tr>
            <th><label for="password_conf"></label>パスワード(確認)：</label></th>        
            <td><input type="text" id="password_conf" name="password_conf"><br></td>
        </tr>
        <tr>
            <th><label for="name"></label>お名前：</label></th>
            <td><input type="text" id="name" name="name"><br></td>
        </tr>
        <tr>
            <th><label for="address"></label>ご住所：</label></th>
            <td><input type="text" id="address" name="address"><br></td>
        </tr>
        <tr>
            <th><input type="submit" value="登録確認"></th>
        </tr> 
    </form>
    </table>
    <a href="url">商品検索</a>へ
</body>
</html>