<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>以下の情報で登録しますか？</h1>
    <form action="/index/registerUserCommit/" method="POST">>
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="address" value="{{ address }}">
    <input type="hidden" name="password" value="{{ password }}">

    <table border="1">
        <tr>
            <th><label for="user_id"></label>会員ID：</label></th>
            <td>{{user_id}}<br></td>
        </tr>
        <tr>
            <th><label for="password"></label>パスワード：</label></th>        
            <td>{{password}}<br></td>
        </tr>
        <tr>
            <th><label for="name"></label>お名前：</label></th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th><label for="address"></label>ご住所：</label></th>
            <td>{{address}}<br></td>
        </tr>
        <tr>
            <th colspan = 2><input type="submit" value="登録"></th>
        </tr> 
    </form>
    </table>
    <a href="../">商品検索</a>へ
</body>
</html>